*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.container{
    height:400;
    border:4px solid rgb(255, 0, 0);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 5px;
    row-gap: 5px;
}

.box{
    border:3px solid rgb(0, 255, 0);
    margin:12px 0;
    width:80px;

}