body{
    font-size: 25px;
    font-family: cursive;
    text-align: center;
    color: #0DA2E7;
    background-color: #0f1729;
}
article{
    background-color: #0f1929;
    color: #0DA2E7;
    padding: 2px;
    margin: 60px;
    font-size: 29px;
    border: 1px solid  #0dbbe7;
    border-radius: 2%;
}