*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: cursive;
    font-size: 1.5rem;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    background: linear-gradient(to left, #172035, #2dbcff);
}

.left{
    flex-basis: 30%;
    padding: 20px;
}

.right{
    flex-basis: 50%;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 5fr);
    grid-auto-rows: 120px;
}

.left h2{
text-align: center;
    
}

.left p{
    text-align: justify;
    margin-top: 20px;
}

.child-imgs{
    background-size: cover;
    background-position: top;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    background-color: #222;
    background-blend-mode: normal;
    color: whitesmoke;
    transition: all 1s ease-in-out;
    /* cursor: pointer; */
}

.child-imgs:hover{
    background-color: #fff;
    background-position: center;
    box-shadow: 0 0 #fff;

}
.row-2 {
    grid-column: span 2;
}
.col-2 {
    grid-row: span 2;
}
.macaw {
    grid-column: span 3;
    grid-row: span 3;
    margin: 30px 10px;
    border: 2px solid #000000;
    
}