.dark{
    background-color: #0f1729;
}

.box{
    height: 200px;
    width: 200px;
    background-color: bisque;
    margin: 100px auto;
    /* transition: 2s; */
    transition-duration: 1.5s;
    transition-property: border-radius;


}

.box:hover{
   background-color: cyan;
   border-radius: 60%;
}

nav{
    color: #0DA2E7;
    background-color: lightgoldenrodyellow
}

.list{
    list-style: none;
    display: flex;
    gap: 30px;
}

.item{
    font-size: 1.2rem;
     transition: 0.5s ease-in-out;
}

.item:hover{
    color: black;
    background-color: lightseagreen;
    cursor: pointer;
    transform: translateY(-7px);
}
