*{
    margin: 0;
    padding: 0;
}

.container{
    border: 2px solid red;
    display: grid;
    height: 700px;
    /* gap: 10px; */
    row-gap: 20px;
    column-gap: 10px;

    grid-template-columns: 200px 200px 200px;
    /* grid-template-columns: 5fr 1fr 1fr; */
    /* grid-template-columns: repeat(6, 4fr); */
    /* grid-template-columns: repeat(auto-fill , 1000px); */
    /* grid-template-columns: 1fr 2fr; */
    
    /* grid-template-rows: 100px 40px 78px; */
    /* grid-auto-rows: 120px; */

    /* justify-content: space-around; */
    /* justify-content: space-between; */
    /* justify-content: space-evenly; */
     justify-content: baseline;
     


}

.box{
    border: 2px solid green;
    padding: 12px;
    
}

#box-1{
    background-color: rgb(250, 250, 5);
    /* justify-self: center;
    align-self: center; */

    /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1 / 3; */

    /* grid-row-start: 1;
    grid-row-end: 3; */
    grid-row: 1 / 3;

} 